* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}


.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

h1 {
	
	font-family: 'Playfair Display', serif;
	font-weight: 100;
	font-size: 20pt;
	text-align: center;
	margin-top: 40%;
	width: auto;
	height: auto;
	color: aliceblue;
	display: block;
}
